.headerContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.headerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/bgC.jpg');
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

.product {
  width: 25vw;
  height: 40vh;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: 0.7s;
  --left: 0px;
  --background-url: url('../images/bgR.png');
}

.soda {
  background: var(--background-url) var(--left) 0, url('../images/soda.png');
  background-size: auto 100%;
  width: 10vw;
  aspect-ratio: 2.625 / 4;
  background-blend-mode: multiply;
  mask-image: url('../images/soda.png');
  mask-size: auto 100%;
  transition: 0.7s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.product:hover {
  --background-url: url('../images/bgL.png');
  --left: 10.5vw;
  transform: translateX(-50%) translateY(-12vh);
}

.rock {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.rock img {
  position: absolute;
  transition: transform 0.7s;
  height: 12vh;
}

.rock img:nth-child(1) {
  left: 20%;
  bottom: 50%;
}

.banner:has(.product:hover) .rock img:nth-child(1) {
  transform: translateX(-50%) translateY(5vh);
}

.rock img:nth-child(2) {
  left: 50%;
  bottom: -3vh;
}

.banner:has(.product:hover) .rock img:nth-child(2) {
  transform: translateX(-50%) translateY(5vh);
}

.rock img:nth-child(2) {
  left: 50%;
  bottom: 5vh;
}

.banner:has(.product:hover) .rock img:nth-child(2) {
  transform: translateX(20%) translateY(-5vh);
}

@media (max-width: 1200px) {
  

  .product {
    width: 22vw;
    height: 35vh;
    bottom: 8vh;
  }

  .soda {
    width: 20vw;
    display: none;

  }

  .rock img {
    height: 10vh;
  }

}

@media (max-width: 992px) {
  .product {
    width: 20vw;
    height: 30vh;
    bottom: 7vh;
  }

  .soda {
    width: 18vw;
  }

  .rock img {
    height: 9vh;
  }

  .rock img:nth-child(1) {
    left: 50%;
    bottom: 40%;
  }

  .rock img:nth-child(2) {
    bottom: -2vh;
  }

  .rock img:nth-child(3) {
    left: 40%;
    bottom: 4vh;
  }
}

@media (max-width: 768px) {
  .product {
    width: 18vw;
    height: 28vh;
    bottom: 6vh;
  }

  .soda {
    width: 16vw;
    display: none;
  }

  .rock img {
    height: 8vh;
  }

  .rock img:nth-child(1) {
    left: 40%;
    bottom: 45%;
  }

  .rock img:nth-child(2) {
    left: 45%;
    bottom: -1vh;
  }

  .rock img:nth-child(3) {
    left: 30%;
    bottom: 3vh;
  }
  
}

@media (max-width: 576px) {
  .product {
    width: 15vw;
    height: 25vh;
    bottom: 5vh;
  }

  .soda {
    width: 30vw;
    display: none;
  }

  .rock img {
    height: 7vh;
  }

  .rock img:nth-child(1) {
    left: 35%;
    bottom: 50%;
  }

  .rock img:nth-child(2) {
    left: 40%;
    bottom: 0;
  }

  .rock img:nth-child(3) {
    left: 25%;
    bottom: 2vh;
  }
}

